/************    Footer     **************/
footer .grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

footer .socials {
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 40px;
}
@media (width > 800px) {
  footer .footer_links {
    grid-template-columns: repeat(4, 1fr);
  }
}
